# Python cache
project/__pycache__/
project/core/__pycache__/
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints/

# Build and distribution
build/
dist/

# PyBuilder
*.egg-info/

/README copy.md
