# flask.cfg

import os, sys

#######################################################################
###  Configuração automática de banco de dados por modo de execução ###
#######################################################################

# Detecta se a aplicação está rodando em modo frozen (PyInstaller bundle)
is_frozen = getattr(sys, 'frozen', False)

# Define o diretório base do banco de dados automaticamente
if is_frozen:
    # Modo frozen: banco de dados junto ao executável
    basedir = os.path.dirname(sys.executable)
else:
    # Modo desenvolvimento/testes: usa diretório configurável
    # Pode ser sobrescrito pela variável de ambiente AVALDESEMP_DATA_DIR
    basedir = os.environ.get('AVALDESEMP_DATA_DIR', 'D://Temp/')

########################################################################

STATIC_PATH = os.path.join(basedir, 'dist', 'static')

# Chave secreta (em produção, use uma chave mais segura)
SECRET_KEY = '\x8b\xe5\xdb\x17\xe8\x93h\\\xae\xe8\x13e.\xb0\xabU\xdc\xf8q\xf4\xef>~\xce'

# Configuração do banco de dados
SQLALCHEMY_DATABASE_URI = 'sqlite:///' + os.path.join(basedir, 'avaldesemp.db')
SQLALCHEMY_TRACK_MODIFICATIONS = False

# DEBUG: defina como False em produção
DEBUG = True

